/desktop/windows/utils/dll-project/.vs/*
/desktop/windows/utils/dll-project/Debug/*
/desktop/windows/utils/dll-project/Release/*

/desktop/windows/store/universal-dll-project/.vs/*
/desktop/windows/store/universal-dll-project/Debug/*
/desktop/windows/store/universal-dll-project/Release/*

